/* Forms */

::-webkit-input-placeholder{
    color: transparent;
}
::-moz-placeholder{
}
:-ms-input-placeholder{
}

form{
    margin: 4.5em 0;
    + .small-text{
        margin: -1em 0 3em;
    }
}

fieldset{

}

.field{
    position: relative;
    margin: 0 0 3em;
    > label{
        position: absolute;
        top: 0;
        left: 0;
    }
}

label, input, textarea{
    display: block;
}

label{
    cursor: pointer;
    transition: color $transition, transform $transition;
    sup{
        transition: opacity $transition;
    }
}

input, textarea, select, button{
    border: 0;
  	transition: $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 100%;
    border-bottom: 1px solid $txt;
    color: rgba($txt, 0.5);
    &:-webkit-autofill{
      	box-shadow: 0 0 0 1000px $background inset;
  	}
    &:focus{
        &::-webkit-input-placeholder{
            color: rgba($txt, 0.2);
        }
        + label{
            cursor: default;
            transform: translate3d(0, -25px, 0);
        }
    }
    // &[required]:valid{
    //     + label{
    //         cursor: default;
    //         transform: translate3d(0, -25px, 0);
    //     }
    // }
    &:not(:placeholder-shown){
        &:not(:focus){
            color: $txt;
            + label{
                cursor: default;
                transform: translate3d(0, -25px, 0);
            }
            &:valid{
                border-color: $primary;
                + label{
                    color: $primary;
                    sup{
                        opacity: 0;
                    }
                }
            }
            &:invalid{
                border-color: $secondary;
                + label{
                    color: $secondary;
                }
            }
        }
    }
}

textarea{
    height: 26px;
    &:focus, &:not(:placeholder-shown):valid{
        height: 200px;
    }
}

input{
    &[type=text]{
        max-width: 350px;
    }
    &[type=email]{
        max-width: 450px;
    }
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

button{
    &.btn{
        &.ok{
            color: $primary;
        }
        &:hover, &:focus{
            color: $secondary;
        }
    }
}

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}
