.skills{
    display: block;
    width: 43%;
    max-width: 250px;
    position: relative;
    margin: 3em auto 7em;
    z-index: 1;
    overflow: visible;
    path{
        stroke: $background;
        stroke-width: 10;
        cursor: crosshair;
        transition: 0.35s ease-in-out;
        // transform-origin: 50% 50%;
        &:hover, &.on{
            fill: $primary !important;
            + g{
                .title{
                    background: #000;
                    color: #fff;
                }
                .text{
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    line{
        stroke: $txt;
        stroke-width: 2;
        pointer-events: none;
        + circle{
            fill: $txt;
            .js &{
                transition: 0.35s ease-in-out;
                opacity: 0;
                &.on{
                    opacity: 1;
                }
            }
        }
        .js &{
            transition: 0.35s ease-in-out;
            opacity: 0;
            &.on{
                opacity: 1;
            }
        }
    }
    circle{
        transform-origin: 50% 50%;
        transition: 0.35s ease-in-out;
        .js &{
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .paths{
        .js &{
            transform: scale(0);
            transition: 0.4s ease-in-out;
            transform-origin: 48% 42%;
            &.on{
                transform: scale(1);
            }
        }
    }
    .puce{
        .js &{
            transform: scale(0);
            &.on{
                transform: scale(1.2);
                &.final{
                    transform: scale(1);
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.title{
    font-size: 35px;
    .js &{
        opacity: 0;
        &.on{
            opacity: 1;
        }
    }
}
.text{
    font-size: 28px;
    transform: translate3d(0, -30px, 0);
    opacity: 0;
    transform-origin: 0 0;
    transition: 0.35s ease-in-out;
}

.text-right{
    text-anchor: end;
}
