.anim-elt{
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    .js &{
        opacity: 0;
        transform: translate3d(0, 20px, 0);
        transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        &.on{
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}
