/* Buttons */

.btn{
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
    font-family: $unica;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 50%;
    background: $txt;
    color: $white;
    transition: $transition;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: -1;
        border-radius: 50%;
        opacity: 0;
        background: $primary;
        transform: scale3d(0.6, 0.6, 1);
        transition: opacity 0.3s ease-in, 0s transform 0.3s;
    }
    &:hover, &:focus{
        &:after{
            opacity: 1;
            transform: scale3d(1, 1, 1);
            transition: 0.3s ease-out;
        }
    }
}
