/* Buttons */

.btn{
    display: inline-block;
    //margin: 0 0 0 -4px;
    padding: 10px 35px 8px;
    font-family: $unica;
    text-transform: uppercase;
    box-shadow: none;
    background: rgba($txt, 0.9);
    color: $white;
    transition: $transition;
    //color: $primary;
    // &:before, &:after{
    //     content: '+';
    //     display: inline-block;
    //     vertical-align: middle;
    //     transition: transform $transition;
    // }
    // &:before{
    //     margin: 0 5px 0 0;
    // }
    // &:after{
    //     margin: 0 0 0 5px;
    // }
    &:hover, &:focus{
        background: $primary;
        //color: $white;
        // box-shadow: none;
        // &:before, &:after{
        //     transform: scale(0.7);
        // }
    }
}
