/* Buttons */

.btn{
    display: inline-block;
    font-family: $unica;
    text-transform: uppercase;
    &:before, &:after{
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        background: currentColor;
        vertical-align: middle;
        transition: transform $transition;
    }
    &:before{
        margin: 0 10px 0 0;
    }
    &:after{
        margin: 0 0 0 10px;
    }
    &:hover, &:focus{
        &:before, &:after{
            transform: scale(0.7);
        }
    }
}

.btn-ext{
    font-family: $unica;
    text-transform: uppercase;
    &:before{
        content: '';
        width: 18px;
        height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        background: $border;
        transform: scaleX(0) translate3d(-10px, 0, 0);
        transform-origin: 0 0;
        transition: $transition;
    }
    &[target='_blank']{
        padding: 0;
        color: $primary;
        &:after{
            display: none;
        }
        &:hover, &:focus{
            color: #000;
        }
    }
    > span{
        display: block;
        position: relative;
        z-index: 1;
        transition: transform $transition;
        &:before, &:after{
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transform-origin: 0 50%;
            z-index: -1;
            opacity: 0;
        }
    }
    &:hover, &:focus{
        &:before{
            transform: scaleX(1) translate3d(0, 0, 0);
        }
        > span{
            transform: translate3d(24px, 0, 0);
            &:after{
                animation: jumpAfter 0.3s ease-in-out 0s infinite normal;
                color: $primary;
                opacity: 1;
            }
            &:before{
                animation: jumpBefore 0.2s ease-in-out 0s infinite normal;
                color: $secondary;
                opacity: 1;
            }
        }
    }
}
