<!DOCTYPE html>
<html lang='en-EN' class='no-js'>
    <head>
        <meta charset='utf-8'>
        <meta name='description' content='Elisabeth Hamel, Front-End & WordPress Developper in Nantes, France'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <title>Elisabeth Hamel &bull; Front-End Developper</title>

        <meta name='keywords' content='développeur web, développeur front-end, développeur, intégrateur, responsive, web design, html, css, javascript, jquery, php, Elisabeth, Hamel, freelance, autoentrepreneur'>
        <meta name='author' content='Elisabeth Hamel'>

        <meta property='og:title' content='Elisabeth Hamel &bull; Portfolio'>
        <meta property='og:type' content='website'>
        <meta property='og:url' content='http://www.e-hamel.com'>
        <meta property='og:image' content='http://www.e-hamel.com/img/logo.png'>

        <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <link rel='stylesheet' href='css/main.css'>
    </head>

    <body>
        <header role='banner' id='header'>
            <nav role='navigation'>
                <!--<a href='./' class='logo'>Elisabeth <span>Hamel</span></a>-->
                <a href='./' class='logo'><img src='layoutImg/logo.svg'></a>
                <ul>
                    <li><a href='#'>Portfolio</a></li>
                    <li><a href='#'>About</a></li>
                    <li><a href='#'>Contact</a></li>
                </ul>
            </nav>
        </header>

        <main role='main' id='main'>
            <div class='container'>
                <section>
                    <h1>Hello!</h1>
                    <p>I am Elisabeth Hamel, a Front-End &amp; WordPress Developper currently working at <a href='#' target='_blank'>Stéréosuper</a>, based in Nantes (France).</p>
                    <p>I enjoy working on the web and speaking the languages that make it alive.</p>
                    <a href='#' class='btn'>More about me</a>
                </section>

                <section>
                    <h2>Latest work</h2>
                    <ul class='list-work'>
                        <li>
                            <!--<time>[09/2016]</time>-->
                            <a href='http://leongrosse.fr' target='_blank'>Leon Grosse</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <!--<time>[09/2016]</time>-->
                            <a href='http://www.alvencapital.com' target='_blank'>AlvenCapital</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <!--<time>[08/2016]</time>-->
                            <a href='http://www.labelleboite.fr' target='_blank'>La Belle Boîte</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <!--<time>[08/2016]</time>-->
                            <a href='http://nantesaleau.com' target='_blank'>Nantes à l'Eau</a>
                            <span>Freelance</span>
                        </li>
                        <!--<li>
                            <time>[02/2016]</time>
                            <a href='http://www.akeneo.com' target='_blank'>Akeneo</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <time>[02/2016]</time>
                            <a href='http://www.encreseche.com/' target='_blank'>Encre Sèche</a>
                            <span>Freelance</span>
                        </li>
                        <li>
                            <time>[10/2015]</time>
                            <a href='http://institutdavignon.fr' target='_blank'>Institut d'Avignon</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <time>[08/2015]</time>
                            <a href='http://success.wisembly.com/' target='_blank'>Wisembly Success Center</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <time>[05/2015]</time>
                            <a href='http://wisembly.com/' target='_blank'>Wisembly</a>
                            <span>Stéréosuper</span>
                        </li>
                        <li>
                            <time>[07/2014]</time>
                            <a href='http://www.rezorue.com/' target='_blank'>REZOrue</a>
                            <span>Freelance</span>
                        </li>
                        <li>
                            <time>[06/2014]</time>
                            <a href='http://serenpedia.com/' target='_blank'>Serenpedia</a>
                            <span>Intuiti</span>
                        </li>
                        <li>
                            <time>[06/2013]</time>
                            <a href='https://constructionlaverendrye.com/' target='_blank'>La Vérendrye Construction</a>
                            <span>Vacarm</span>
                        </li>-->
                    </ul>
                    <a href='#' class='btn'>All portfolio</a>
                </section>

                <section>
                    <h2>Find&hellip;</h2>
                    <ul>
                        <li>My <a href='#' target='_blank'>GitHub</a> work and <a href='#' target='_blank'>Codepen</a> experiments,</li>
                        <li>Some tech (occasional) tweets on <a href='#' target='_blank'>Twitter</a>,</li>
                        <li>A few answers and questions on <a href='#' target='_blank'>Stackoverflow</a>,</li>
                        <li>My <a href='#' target='_blank'>LinkedIn</a> and <a href='#' target='_blank'>Viadeo</a> professionnal profile</li>
                    </ul>
                    <a href='#' class='btn'>Get in touch</a>
                </section>

            </div>
        </main>

        <footer role='contentinfo' class='container' id='footer'>
            <span>&copy;2016 | Elisabeth Hamel</span>

            <ul>
                <li><a href='#'>GitHub</a></li>
                <li><a href='#'>Codepen</a></li>
                <li><a href='#'>Twitter</a></li>
                <li><a href='#'>LinkedIn</a></li>
            </ul>
        </footer>

        <!--<svg style='position:absolute;width:0;height:0;overflow:hidden'>
            <defs>
                <symbol id='icon' viewBox='0 0 0 0'>
                    <title>Icon</title>
                </symbol>
            </defs>
        </svg>
        <svg class='icon'><use xlink:href='#icon'/></svg>-->

        <script src='js/libs/jquery/dist/jquery.min.js' defer></script>
        <script src='js/main.js' defer></script>
    </body>
</html>
