/******* GÉNÉRAL *******/

::-moz-selection{
    background: #000;
    color: #fff;
    text-shadow: none;
}
::selection{
    background: #000;
    color: #fff;
    text-shadow: none;
}

html{
    font-size: 62.5%;
}

body{
    @include inconsolata(1.8em);
    line-height: 1.4;
    background: rgba(191, 175, 147, 0.2);
    color: $txt;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6{
    @include abril(6rem);
    font-weight: 400;
}

h1{
    margin: 0 0 0.3em;
    letter-spacing: -0.01em;
}

h2{
    font-size: 3.4rem;
    margin: 2.5em 0 1em;
}

h3{
    font-size: 2.4em;
    margin: 1em 0;
}

h4{
    font-size: 2.2rem;
    margin: 1.33em 0;
}

h5{
    font-size: 2rem;
    margin: 1.67em 0;
}

h6{
    font-size: 1.8rem;
    margin: 2.33em 0;
}

p{
    margin: 1em 0;
}

b, strong{

}

i, em{

}

blockquote{
    margin: 1em 40px;
}

ol, ul{
    padding: 0;
    margin: 1em 0 1.5em;
    list-style: none;
}

ul{
    > li{
        margin: 0 0 5px;
        &:before{
            content: '';
            display: inline-block;
            height: 4px;
            width: 4px;
            vertical-align: middle;
            margin: 0 10px 0 0;
            background: #000;
        }
    }
}

ol{
    counter-reset: ol-counter;
    > li{
        counter-increment: ol-counter;
        &:before{
            content: counter(ol-counter)'.';
        }
    }
}

.list-work{
    > li{
        margin: 0 0 20px;
        &:before{
            display: none;
        }
    }
    a{
        display: inline-block;
        padding: 2px 15px;
        vertical-align: middle;
        @include unica(2rem);
        text-transform: uppercase;
    }
    span{
        display: block;
        margin: 5px 0 0;
        font-size: 1.4rem;
    }
}

img{
    max-width: 100%;
    height: auto;
}

code, pre{
    display: block;
    padding: 10px 15px;
    margin: 1em 0;
    background: grey;
}

hr{
    height: 1px;
    max-width: 250px;
    border: 0;
    margin: 3em auto 5em;
    background: $txt;
}


/******* LIENS / BOUTONS *******/

a{
    color: $primary;
    text-decoration: none;
    transition: $transition;
    &[target='_blank']{
        padding: 2px 5px;
        background: rgba(#000, 0.8);
        color: #fff;
        &:hover, &:focus{
            background: $primary;
        }
    }
    &:focus, &:hover{
    }
    &:focus{
        outline: 0;
    }
    &:active{
    }
}

.btn{
    display: inline-block;
    font-family: $unica;
    text-transform: uppercase;
    &:before, &:after{
        content: '';
        display: inline-block;
        width: 7px;
        height: 7px;
        background: currentColor;
        vertical-align: middle;
        transition: transform $transition;
    }
    &:before{
        margin: 0 10px 0 0;
    }
    &:after{
        margin: 0 0 0 10px;
    }
    &:hover, &:focus{
        color: $secondary;
        &:before, &:after{
            transform: scale(0.7);
        }
    }
}

/******* CLASSES GENERALES  *******/

.hidden{
    display: none !important;
}

.clearfix{
    @include clearfix;
}

.align-center{
    text-align: center;
}
.align-left{
    text-align: left;
}
.align-right{
    text-align: right;
}
