@charset "utf-8";
/* CSS Document */

			*{
				text-decoration: none;
				color: black;
				list-style-type: none;
				font-family: "Seattle Sans";
				font-weight: normal;
				margin: 0;
			    padding: 0;	
			}

			html{
				height: 100%;
			}

			body{	
			    height: 100%;	
			    width: 100%;		    
			}

			p{
				font-family: "Courrier New";
				font-size: 16px;
			}

			header{
				position: fixed;
				width: 100%;
				height: 103px;
				z-index: 100;
			}

			.content{
				width: 980px;
				margin: 0 auto;
				padding-bottom: 20px;
				padding-left: 20px;
				padding-right: 20px;
				padding-top: 120px;
			}

			.content-header{
				width: 980px;
				margin: 0 auto;
				padding: 0 20px;
			}

			h1{
				font-size: 90px;
				margin-left: 130px;
			}

			h2{
				font-size: 50px;
				margin-top: 10px;
				margin-bottom: 40px;
				line-height: 50px;
				padding-bottom: 7px;
			}

			h3{
				font-size: 42px;
				margin-bottom: 30px;
				padding-top: 10px;
			}

			img, li, iframe{
				border: none;
			}

			#apropos{
				background: url(fonds/test1.jpg) no-repeat center center fixed;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#accueil{
				background: url(fonds/fond1.jpg) no-repeat center center fixed;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#contact{
				background: url(fonds/fond2.jpg) no-repeat center center fixed;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#portfolio{
				background: url(fonds/fond3.jpg) no-repeat center center fixed;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}

			#logo{
				display: inline-block;
			}
			#logo span{
				display: inline-block;
				font-size: 50px;
				margin-top: 12px;
				padding-right: 10px;
				padding-bottom: 7px;
				border-right: solid 2px;
			}
			#logo span.int1, #logo span.int2, #logo span.int1en, #logo span.int2en{
				border: none;
				margin-top: 0;
				padding: 0;
			}
			#logo span.int1{
				font-size: 44px;
			}
			#logo span.int2, #logo span.int2en{
				margin-top: -20px;
			}
			#logo span.int1en{
				font-size: 48px;
			}
			#logo span.int2en{
				font-size: 46px;
			}
			#logo p{
				margin-top: -90px;
				margin-left: 145px;
			}

			#menu{
				float: right;
				margin-top: 18px;
			}
			#menu li{
				float: left;
				margin-left: 20px;
			}
			#menu li a.noclic{
				cursor: default;
			}
			#menu li#liaccueil2 a div{
				background: url(icones/homenoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#menu li#liapropos2 a div{
				background: url(icones/questnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#menu li#licontact2 a div{
				background: url(icones/envnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#menu li#liportfolio2 a div{
				background: url(icones/pincnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#menu li#lifr2 a div{
				background: url(icones/fr.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#menu li#lien2 a div{
				background: url(icones/en.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}
			#apropos #menu li#liaccueil2 a:hover > div, #contact #menu li#liaccueil2 a:hover > div, #portfolio #menu li#liaccueil2 a:hover > div{
				background: url(icones/home.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#apropos #menu li#liportfolio2 a:hover > div, #contact #menu li#liportfolio2 a:hover > div, #accueil #menu li#liportfolio2 a:hover > div{
				background: url(icones/pinc.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#apropos #menu li#licontact2 a:hover > div, #portfolio #menu li#licontact2 a:hover > div, #accueil #menu li#licontact2 a:hover > div{
				background: url(icones/env.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#contact #menu li#liapropos2 a:hover > div, #portfolio #menu li#liapropos2 a:hover > div, #accueil #menu li#liapropos2 a:hover > div{
				background: url(icones/quest.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#apropos #menu li#lifr2 a:hover > div, #contact #menu li#lifr2 a:hover > div, #portfolio #menu li#lifr2 a:hover > div, #accueil #menu li#lifr2 a:hover > div{
				background: url(icones/fr2.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#apropos #menu li#lien2 a:hover > div, #contact #menu li#lien2 a:hover > div, #portfolio #menu li#lien2 a:hover > div, #accueil #menu li#lien2 a:hover > div{
				background: url(icones/en2.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}

			#menu li p{
				font-family: "Seattle Sans";
				font-size: 40px;
				margin-top: -58px;
				margin-left: 65px;
				margin-right: 10px;
			}

			footer{
				width: 100%;
				margin-top: 70px;
			}
			p.right, p.right2{
				font-family: "Seattle Sans";
				text-align: right;
				font-size: 18px;
				margin-top: 220px;
			}
			p.right2{
				width: 980px;
				margin: 5px auto;
				padding: 5px 20px;
			}


			/*ACCUEIL*/

			#accueil header{
				background: #fdfdfd;
			}
			
			h2.titre-accueil{ 
				font-size: 80px;
				text-align: right;
				padding-bottom: 25px;
				margin: -35px 130px 10px 0;
			}
			h2 span{
				font-size: 60px;
				margin-right: 15px;
			}

			#menu-accueil{
				font-size: 60px;
				margin-top: 30px;
				margin: 0 auto;
				overflow: hidden;
				width: 735px;
			}
			#menu-accueil li{
				float: left;
				margin-right: 98px;
			}
			/*#menu-accueil li#lien, #menu-accueil li#lifr{*/
			#menu-accueil li:last-child{
				margin-right: 0;
			}
			#menu-accueil li#licontact a{
				color: #4c3364;
			}
			#menu-accueil li#liaccueil a{
				color: #333;
			}
			#menu-accueil li#liapropos a{
				color: #870b2e;
			}
			#menu-accueil li#liportfolio a{
				color: #0b877a;
			}
			#menu-accueil li#lien a, #menu-accueil li#lifr a{
				color: #aaacad;
			}
			#menu-accueil li#licontact a:hover, #menu-accueil li#liaccueil a:hover, #menu-accueil li#liapropos a:hover, #menu-accueil li#liportfolio a:hover, #menu-accueil li#lien a:hover, #menu-accueil li#lifr a:hover{
				color: black;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.menu-icone {
				width: 60px;
				height: 60px;
			}
			#menu-accueil li#licontact a div{
				background: url(icones/env.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 45.5px;
			}
			#menu-accueil li#liaccueil a div{
				background: url(icones/home.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 42.5px;
			}
			#menu-accueil li#liapropos a div{
				background: url(icones/quest.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 71px;
			}
			#menu-accueil li#liportfolio a div{
				background: url(icones/pinc.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 61.5px;
			}
			#menu-accueil li#lien a div{
				background: url(icones/en2.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 44.5px;
			}
			#menu-accueil li#lifr a div{
				background: url(icones/fr2.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 33px;
			}
			#menu-accueil li#licontact a:hover > div{
				background: url(icones/envnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			} 
			#menu-accueil li#liaccueil a:hover > div{
				background: url(icones/homenoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#menu-accueil li#liapropos a:hover > div{
				background: url(icones/questnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#menu-accueil li#liportfolio a:hover > div{
				background: url(icones/pincnoir.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#menu-accueil li#lien a:hover > div{
				background: url(icones/en.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#menu-accueil li#lifr a:hover > div{
				background: url(icones/fr.png) no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}


			.rslides {
			  position: relative;
			  list-style: none;
			  overflow: hidden;
			  width: 900px;
			  padding: 0;
			  margin: 20px auto;
			  }

			.rslides li {
			  -webkit-backface-visibility: hidden;
			  position: absolute;
			  display: none;
			  width: 100%;
			  left: 0;
			  top: 0;
			  }

			.rslides li:first-child {
			  position: relative;
			  display: block;
			  float: left;
			  }

			.rslides img {
			  display: block;
			  height: auto;
			  float: left;
			  width: 100%;
			  border: 0;
			  }

			  #accueil section{
			  	border-top: solid 2px;
			  	margin-top: 40px;
			  	padding-top: 40px;
			  }
			  #accueil section h2{
				font-size: 60px;
			  }
			   #accueil section h3{
				margin-bottom: 10px;
				color: #333;
			  }
			  #accueil section h3 span{
				font-size: 30px;
				color: black;
			  }
			  #accueil section article{
			  	margin-bottom: 25px;
			  	padding: 0 20px;
			  	display: inline-block;
			  	width: 410px;
			  }
			  #accueil section article:last-child{
			  	float: right;
			  }
			  #accueil section article:first-of-type{
			  	border-right: solid 2px;
				padding-right: 55px;
				padding-bottom: 20px;
			  }

			  #footaccueil p.right2{
				border-top: solid #f9f9f9 2px;
			}


			/*QUI SUIS JE*/

			#apropos header{
				background: #870b2e;
			}

			div.p{
				margin-top: 20px;
				width: 390px;
				display: inline-block;
			}
			p.sign{
				text-align: right;
				font-family: "Seattle Sans";
				font-size: 20px;
			}

	/*ACCORDION*/
			.comp{
				float: right;		
				border-left: solid 2px;	
				padding-left: 20px;
				margin-top: 0px;
				width: 457px;
				transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.marge{
				margin-top: -50px;
				transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.accordion-header:hover{
				cursor: pointer;
			}

			p.cote{
				display: inline-block;
				float: left;
				margin-right: 20px;
			}
			.comp a{
				clear: left; 
				display: block;
			}

			#footapropos p.right2{
				border-top: solid 2px #870b2e ;
			}
			

			/*CONTACT*/

			#contact header{
				background: #4c3364;
			}

			#contentform{
				width: 600px;
				display: inline-block;
			}

			form{
				margin-top: 20px;
				margin-bottom: 40px;
			}
			input, textarea{
				display: block;
				width: 90%;
				margin-bottom: 10px;
				height: 35px;
				border: none;
				padding: 0 10px;
				font-family: "Courrier New";
				font-size: 20px;
			}
			textarea{
				height: 170px;
				padding-top: 10px;
			}
			input#submit{
				width: 45px;
				height: 45px;
				float: right;
				color: transparent;
				margin-right: 3%;
				background: url(icones/ok.png);
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    cursor: pointer;
			}
			input#submit:hover{
				background: url(icones/okviolet.png);
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			}

			.reseaux{
				float: right;		
				border-left: solid 2px;	
				padding-left: 20px;
				margin-top: 80px;
				width: 280px;
				transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.margereseaux{
				margin-top: 20px;
				transition-duration: 1s;
			    -webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.reseaux li{
				margin-bottom: 20px;
			}
			.reseaux li span{
				font-size: 35px;
				margin-left: 20px;
				margin-top: -10px;
				display: inline-block;
			}
			.reseaux li span#twit{
				margin-left: 15px;
			}
			.reseaux li a:hover{
				margin-left: 20px;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.reseaux li a:hover > span{
				color: #4c3364;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}

			#footcontact p.right2{
				border-top: solid 2px #4c3364 ;
			}


			/*PORTFOLIO*/

			#portfolio header{
				background: #0b877a;
			}

			#menu-portfolio{
				position: fixed;
				font-size: 35px;
				padding-left: 20px;
				border-left: solid 2px;
				margin-top: -120px;
				top: 50%;
			}
			#menu-portfolio a:hover{
				margin-left: 20px;
				color: #0b877a;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#menu-portfolio li.blue a{
				margin-left: 20px;
				color: #0b877a;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}

			.portfolio-content{
				display: inline-block;
				margin-left: 270px;
				padding: 5px 0px 5px 30px;
				border-left: solid 2px;		
				width: 680px;
			}
			.portfolio-content h2{
				border-bottom: solid 2px;
				width: 550px;
			}
			.portfolio-content p{
				margin-bottom: 30px;
			}

			article{
				margin-bottom: 100px;
			}

			.affiches{
				width: 250px;
				display: inline-block;
			}
			.petit{
				float: right;
				width: 400px;
			}

			#flash{
				margin-left: 140px;
			}

			article a.blue{
				font-family:"Courrier New";
				color: #0b877a;
			}

			.vignettes{
				float: left;
				margin-right: 15.5px;
				width: 60px;
				margin-bottom: 10px;
				padding-top: 20px;
			}
			.vignettes:hover{
				opacity: 0.4;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			#big_pict{
				width: 680px;
				margin-top: 20px;
				margin-bottom: 30px;
			}

			#footportfolio p.right2{
				border-top: solid #0b877a 2px;
			}

			.lien_portfolio{
				float: right;
				font-size: 25px;
			}
			.lien_portfolio div{
				display: inline-block;
				height: 40px;
				width: 40px;
				background: url("icones/ok.png") no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    margin-left: 10px;
			    position: relative;
			    top: 10px;
			    z-index: -10;
			}
			.lien_portfolio:hover{
				color: #0b877a;
				transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}
			.lien_portfolio:hover > div{
				background: url("icones/okbleu.png") no-repeat;
				-webkit-background-size: cover; 
			    -moz-background-size: cover;
			    -o-background-size: cover; 
			    background-size: cover;
			    transition-duration: 1s;
				-webkit-transition-duration: 1s;
			    -moz-transition-duration: 1s;
			    -o-transition-duration: 1s;
			}





			@media screen and (max-width: 1020px) {
				header{
					width: 1020px;
				}

				*{
					box-sizing: border-box;
					-moz-box-sizing: border-box;
					-o-box-sizing: border-box;
					-webkit-box-sizing: border-box;
				}
			}

			@media screen and (max-height: 490px) {
				#menu-portfolio{
					margin-top: 120px;
					top: 0;
				}
			}

			/*@media screen and (max-width: 1020px) {
				h2.titre-accueil{ 
					margin-top: 0px;
				}
				.content{
					width: 90%;
				}

				.rslides{
					width: 90%;
				}

				#menu-accueil li{
					margin-right: 0;
				}
				#menu-accueil li:nth-child(1){
					width: 30.6%;
				}
				#menu-accueil li:nth-child(2){
					width: 28.7%;
				}
				#menu-accueil li:nth-child(3){
					width: 25.4%;
				}
				#menu-accueil li:nth-child(4){
					width: 15.2%;
				}

			}

			@media screen  and (max-width: 910px) {
				#menu-accueil{
					font-size: 50px;
				}

				#menu-accueil li#licontact a div{
				    margin-left: 35.5px;
				}
				#menu-accueil li#liaccueil a div{
				    margin-left: 32.5px;
				}
				#menu-accueil li#liapropos a div{
				    margin-left: 61px;
				}
				#menu-accueil li#liportfolio a div{
				    margin-left: 51.5px;
				}
				#menu-accueil li#lien a div{
				    margin-left: 34.5px;
				}
				#menu-accueil li#lifr a div{
				    margin-left: 23px;
				}
			}

			@media screen  and (max-width: 768px) {
				#menu-accueil li{
					clear: left;
				}

				#menu-accueil li:nth-child(1), #menu-accueil li:nth-child(2), #menu-accueil li:nth-child(3), #menu-accueil li:nth-child(4){
					width: 400px;
				}

				#menu-accueil li#licontact a div, #menu-accueil li#liaccueil a div, #menu-accueil li#liapropos a div, #menu-accueil li#liportfolio a div, #menu-accueil li#lien a div, #menu-accueil li#lifr a div{
					float: left;
					margin-top: 18px;
					margin-left: 0px;
					margin-right: 20px;
				}

				#menu-accueil{
					font-size: 70px;
					width: 400px;
				}
			}

			@media screen  and (max-width: 606px) {
				h2.titre-accueil{
					font-size: 80px;
				}
			}

			@media screen  and (max-width: 538px) {
				h2.titre-accueil{
					display: none;
				}
			}

			@media screen  and (max-width: 465px) {
				h1 span{
					display: none;
				}
			}*/


			@font-face {
			    font-family: 'Seattle Sans';
			    src: url('font/seasans.eot');
			    src: url('font/seasans.eot') format('embedded-opentype'),
			         url('font/seasans.woff') format('woff'),
			         url("font/SEASANS.TTF") format('truetype'),
			         url('font/seasans.svg#SeattleSansRegular') format('svg');
	     	}

			@font-face {
			    font-family: 'Courrier New';
			    src: url('font/cour.eot');
			    src: url('font/cour.eot') format('embedded-opentype'),
			         url('font/cour.woff') format('woff'),
			         url("font/COUR.TTF") format('truetype'),
			         url('font/cour.svg#CourierNewRegular') format('svg');
			}