/* Forms */

::-webkit-input-placeholder{
    color: transparent;
}
::-moz-placeholder{
    color: transparent;
}
:-ms-input-placeholder{
    color: transparent;
}

form{
    margin: 4.5em 0 5em;
}

.text-error{
    color: $secondary;
}
.text-success{
    margin: 2em 0;
    color: $primary;
}

.field{
    padding: 5px 0 0;
    position: relative;
    margin: 0 0 3em;
    > label{
        position: absolute;
        top: 0;
        left: 0;
    }
}

label, input, textarea{
    display: block;
}

label{
    cursor: pointer;
    transition: color $transition, transform 0.1s ease-in-out;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    &.subtitle{
        font-size: 1.6rem;
    }
    sup{
        transition: opacity $transition;
    }
    span{
        font-size: 0.8em;
    }
    + span{
        font-size: 0.7em;
        color: $secondary;
    }
}

input, textarea, select, button{
    border: 0;
  	transition: color $transition, border-color $transition;
  	&:focus{
      	outline: 0;
  	}
}

input, textarea{
    width: 100%;
    border-bottom: 1px solid $border;
    color: rgba($txt, 0.5);
    &:-webkit-autofill{
      	box-shadow: 0 0 0 1000px $background inset;
  	}
    &:focus, .form-error &, .no-js &{
        &::-webkit-input-placeholder{
            color: rgba($txt, 0.2);
        }
        &::-moz-placeholder{
            color: rgba($txt, 0.2);
        }
        &:-ms-input-placeholder{
            color: rgba($txt, 0.2);
        }
    }
    &:focus, &.filled, .form-error &, .no-js &{
        + label{
            cursor: default;
            transform: translate3d(0, -20px, 0) scale(0.95);
        }
    }
    &.filled{
        &:not(:focus){
            color: $txt;
            &:valid{
                border-color: $primary;
                + label{
                    color: $primary;
                    sup{
                        opacity: 0;
                    }
                }
            }
            &:invalid{
                border-color: $secondary;
                + label{
                    color: $secondary;
                }
            }
        }
    }
    &:invalid{
        box-shadow: none;
    }
    .error &{
        border-color: $secondary;
        + label{
            color: $secondary;
        }
        &.filled:not(:focus){
            border-color: $secondary;
            + label{
                color: $secondary;
            }
        }
    }
}

textarea{
    height: 26px;
    max-width: 83.333%;
    overflow: hidden;
    &:focus, &.filled:valid, .no-js &{
        height: 200px;
        overflow: visible;
    }
}

input{
    &[type=text]{
        max-width: 50%;
    }
    &[type=tel]{
        max-width: 33.333%;
    }
    &[type=email]{
        max-width: 66.666%;
    }
    &[type=search]{
        &::-webkit-search-cancel-button, &::-webkit-search-decoration{
            display: none;
        }
    }
}

// button{
//     &.btn{
//         &:hover, &:focus{
//             color: $primary;
//         }
//     }
// }

select{
    // hide the arrow on edge + ie
    &::-ms-expand{
        display: none;
    }
}


@media (max-width: 1080px){
    input{
        &[type=tel]{
            max-width: 50%;
        }
    }
}

@media (max-width: 860px){
    textarea{
        max-width: 87.5%;
    }

    input{
        &[type=email]{
            max-width: 62.5%;
        }
    }
}

@media (max-width: 560px){
    textarea{
        max-width: 100%;
    }

    input{
        &[type=text]{
            max-width: 61%;
        }
        &[type=tel]{
            max-width: 61%;
        }
        &[type=email]{
            max-width: 83%;
        }
    }
}

@media (max-width: 400px){
    input{
        &[type=text], &[type=tel], &[type=email]{
            max-width: 100%;
        }
    }
}
