/* Grid */
#main{
    position: relative;
    margin: 30vh 0 0;
}

.container{
    //max-width: 930px;
    max-width: 72%;
    padding: 0 50px 0 15%;
    //margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
        padding-left: 12%;
    }
}

@media (max-width: 1000px){
    .container{
        max-width: 80%;
    }
}

@media (max-width: 860px){
    .container{
        max-width: 100%;
        padding: 0 65px;
    }
}

@media (max-width: 560px){
    .container{
        padding: 0 30px;
    }
}
