/* Grid */
.main{
    margin: 30vh 0 0;
    overflow: hidden;
}

.container{
    max-width: 60%;
    margin: 0 0 0 $col;
}

.grid-plus{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    color: $black;
    &.on{
        > div{
            opacity: 0.25;
            &:nth-child(2), &:nth-child(odd){
                opacity: 0.1;
            }
        }
    }
    > div{
        width: $col;
        border-right: 1px solid currentColor;
        position: relative;
        opacity: 0.05;
        transition: $transition;
        &:nth-child(odd){
            opacity: 0.03;
        }
        &:after{
            content: '';
            width: 1px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: currentColor;
            opacity: 0.7;
        }
    }
}


@media (max-width: 860px){
    .main{
        margin: 25vh 0 0;
    }

    .container{
        max-width: 100%;
        margin: 0 $col/2;
        padding: 0;
    }
}

@media (max-width: 560px){
    .container{
        margin: 0 $gutter;
    }

    .grid-plus{
        > div{
            &:after{
                display: none;
            }
        }
    }
}
