/* Header */

.header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backface-visibility: hidden;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    .js &{
        &.off{
            opacity: 0;
            transform: translate3d(0, -30px, 0);
        }
    }
    // nav{
    //     display: flex;
    //     justify-content: space-between;
    // }
    ul{
        display: inline-block;
        width: $col;
        padding: 0;
        position: relative;
        vertical-align: middle;
        margin: 0 0 0 $col*3;
        &:before{
            width: 1px;
            position: absolute;
            top: -15px;
            bottom: -15px;
            left: 0;
            background: $border;
        }
        a{
            display: inline-block;
            padding: 2px 5px 1px;
            position: relative;
            font-family: $unica;
            font-size: 1.6rem;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            box-shadow: none;
            -webkit-font-smoothing: antialiased;
            color: $txt;
            transition: $transition;
            &:before{
                content: '+';
                display: inline-block;
                margin: 0 2px 0 -9px;
                transition: $transition;
            }
            &:hover, &:focus{
                &:before{
                    transform: rotate(90deg);
                }
            }
        }
    }
    li{
        display: inline-block;
        width: 50%;
        &:before{
            display: none;
        }
    }
    a{
        pointer-events: auto;
    }
    .icon{
        display: none;
        float: left;
        text-indent: 0;
        pointer-events: none;
    }
    .icon-contact{
        height: 1.15em;
    }
}

.logo-wrapper{
    display: inline-block;
    width: $col;
}
.logo{
    display: block;
    width: 35px;
    height: 32px;
    margin: 0 0 0 $gutter;
    backface-visibility: hidden;
    box-shadow: none;
    transition: 0.15s ease-in-out;
    .eye{
        transform: scale(1);
        .ff &{
            opacity: 1;
        }
    }
    .body, .g-path{
        transition: $transition;
    }
    .body{
        fill: #000;
    }
    .g-path{
        opacity: 0;
    }
    &:hover, &:focus{
        box-shadow: none;
        .body{
            fill: $primary;
        }
        .g-path{
            opacity: 1;
        }
        .e1{
            animation: clign 0.35s ease-in-out;
            .ff &{
                animation: clign-ff 0.35s ease-in-out;
            }
        }
        .e2{
            animation: clign 0.25s ease-in-out 0.15s;
            .ff &{
                animation: clign-ff 0.25s ease-in-out 0.15s;
            }
        }
    }
    &:active{
        transform: scale(0.9);
    }
}
.eye{
    fill: #fff;
    transform: scale(0);
    transform-origin: 50% 100%;
    .ff &{
        opacity: 0;
        transform: scale(1);
    }
}
.e1{
    transition: 0.5s ease-in-out;
    .ff &{
        transition: opacity 0.5s ease-in-out;
    }
}
.e2{
    transition: 0.35s ease-in-out;
    transition-delay: 0.2s;
    .ff &{
        transition: opacity 0.35s ease-in-out;
    }
}

@keyframes clign{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes clign-ff{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


// @media (max-width: 1200px){
//     #header{
//         padding-right: 18px;
//         li{
//             margin: 0;
//             a{
//                 margin: 0 7px;
//             }
//         }
//     }
// }

@media (max-width: 860px){
    .header{
        padding: 15px 0 14px;
        background: $background;
        border-bottom: 1px solid $border;
        pointer-events: auto;
        ul{
            text-align: center;
            &:before{
                content: '';
            }
            a{
                width: 30px;
                padding: 6px 5px 0;
                margin: 0 auto;
                line-height: 1;
                text-indent: -99em;
                overflow: hidden;
                &:hover, &:focus{
                    color: $secondary;
                    transform: scale(1.2);
                }
            }
        }
        .icon{
            display: block;
        }
    }
}
