/* Header */

.header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backface-visibility: hidden;
    pointer-events: none;
    .js &{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    > nav{
        display: flex;
        justify-content: space-between;
    }
    ul{
        display: flex;
        width: $col;
        padding: 0;
        position: relative;
        align-items: center;
        &:before{
            width: 1px;
            position: absolute;
            top: -15px;
            bottom: -15px;
            left: 0;
            background: $border;
        }
        a{
            display: inline-block;
            padding: 2px 5px 1px 10px;
            position: relative;
            font-family: $unica;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            box-shadow: none;
            //-webkit-font-smoothing: antialiased;
            color: $txt;
            &:hover, &:focus{
                > .icon{
                    transform: rotate3d(0, 0, 1, 90deg);
                }
            }
            &.active{
                color: $primary;
            }
        }
    }
    li{
        width: 50%;
        &:before{
            content: none;
        }
    }
    a{
        pointer-events: auto;
    }
    .icon{
        width: 7px;
        height: 7px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: -4px;
        margin: auto;
        opacity: 0.9;
        filter: blur(0.5px);
        transform: rotate3d(0, 0, 1, 0deg);
        transition: $transition;
    }
}

.logo-wrapper{
    display: inline-block;
    width: $col;
}
.logo{
    display: block;
    width: 35px;
    height: 32px;
    margin: 0 0 0 $gutter;
    backface-visibility: hidden;
    box-shadow: none;
    transition: 0.15s ease-in-out;
    .eye{
        transform: scale(1);
    }
    .body, .g-path{
        transition: $transition;
    }
    .body{
        fill: $txt;
    }
    .g-path{
        opacity: 0;
    }
    &:hover, &:focus{
        box-shadow: none;
        .body{
            fill: $primary;
        }
        .g-path{
            opacity: 1;
        }
        .e1{
            animation: clign 0.35s ease-in-out;
        }
        .e2{
            animation: clign 0.25s ease-in-out 0.15s;
        }
    }
    &:active{
        transform: scale(0.9);
    }
}
.eye{
    fill: $white;
    transform: scale(0);
}
.e1{
    transform-origin: 42% 48%;
    transition: 0.5s ease-in-out;
}
.e2{
    transform-origin: 56% 48%;
    transition: 0.35s all 0.2s ease-in-out;
}


@keyframes clign{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


@media (max-width: 860px){
    .header{
        padding: 15px 0 14px;
        background: $background;
        border-bottom: 1px solid $border;
        pointer-events: auto;
        ul{
            width: $col*1.5;
            text-align: center;
            &:before{
                content: '';
            }
            li{
                margin: 0;
            }
        }
    }
}

@media (max-width: 560px){
    .header{
        ul{
            width: $col*2;
        }
    }
}

@media (max-width: 400px){
    .header{
        ul{
            width: $col*2.5;
        }
    }
}
