/* Header */

.header{
    padding: 20px 13px 20px 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    backface-visibility: hidden;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    .js &{
        &.off{
            opacity: 0;
            transform: translate3d(0, -30px, 0);
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    ul{
        position: relative;
        margin: 0;
        a{
            display: block;
            padding: 2px 5px 1px;
            position: relative;
            color: $txt;
            font-family: $unica;
            font-size: 1.6rem;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.02em;
            margin: 0 21px;
            z-index: auto;
            transform: none;
            box-shadow: none;
            -webkit-font-smoothing: antialiased;
            transition: color $transition, background $transition, transform $transition;
            &:hover, &:focus{
                background: rgba(#000, 0.8);
                color: rgba(#fff, 0.9);
            }
        }
        .active{
            background: rgba(#000, 0.8);
            color: #fff;
            pointer-events: none;
            cursor: default;
            &:before, &:after{
                content: '';
                width: auto;
                height: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: -1;
            }
            &:after{
                background: $primary;
                transform: scale(1) rotate(4deg) translate3d(-1px, 1px, 0);
            }
            &:before{
                background: $secondary;
                transform: scale(1) rotate(-2deg) translate3d(2px, 0, 0);
            }
        }
    }
    li{
        display: inline-block;
        margin: 0 0 0 7px;
        &:before{
            display: none;
        }
    }
    a{
        pointer-events: auto;
    }
    .icon{
        display: none;
        float: left;
        text-indent: 0;
        pointer-events: none;
    }
    .icon-contact{
        height: 1.15em;
    }
}

.logo{
    display: block;
    width: 35px;
    height: 32px;
    backface-visibility: hidden;
    box-shadow: none;
    transition: 0.15s ease-in-out;
    .eye{
        transform: scale(1);
        .ff &{
            opacity: 1;
        }
    }
    .body, .g-path{
        transition: $transition;
    }
    &:hover, &:focus{
        .body{
            fill: #000 !important;
        }
        .g-path{
            opacity: 0;
        }
        .e1{
            animation: clign 0.35s ease-in-out;
            .ff &{
                animation: clign-ff 0.35s ease-in-out;
            }
        }
        .e2{
            animation: clign 0.25s ease-in-out 0.15s;
            .ff &{
                animation: clign-ff 0.25s ease-in-out 0.15s;
            }
        }
    }
    &:active{
        transform: scale(0.9);
    }
}
.eye{
    fill: #fff;
    transform: scale(0);
    transform-origin: 50% 100%;
    .ff &{
        opacity: 0;
        transform: scale(1);
    }
}
.e1{
    transition: 0.5s ease-in-out;
    .ff &{
        transition: opacity 0.5s ease-in-out;
    }
}
.e2{
    transition: 0.35s ease-in-out;
    transition-delay: 0.2s;
    .ff &{
        transition: opacity 0.35s ease-in-out;
    }
}

@keyframes clign{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes clign-ff{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media (max-width: 1200px){
    #header{
        padding-right: 18px;
        li{
            margin: 0;
            a{
                margin: 0 7px;
            }
        }
    }
}

@media (max-width: 1000px){
    #header{
        ul{
            a{
                width: 30px;
                padding: 6px 5px 0;
                line-height: 1;
                text-indent: -99em;
                overflow: hidden;
                &:hover, &:focus{
                    background: none;
                    color: $secondary;
                    transform: scale(1.2);
                }
            }
            .active{
                background: none;
                color: $secondary;
                transform: scale(1.1);
                &:before, &:after{
                    display: none;
                }
            }
        }
        .icon{
            display: block;
        }
    }
}

@media (max-width: 860px){
    #header{
        padding: 15px 13px 14px 20px;
        background: $background;
        border-bottom: 1px solid $border;
        pointer-events: auto;
        ul{
            &:before{
                content: '';
                width: 1px;
                position: absolute;
                top: -15px;
                bottom: -15px;
                left: -20px;
                background: $border;
            }
        }
    }
}
