$smallCol: 100%/6;

.map{
    padding: 0 0 45%;
    margin: 0 $smallCol 0 0;
    .gm-style-cc{
        display: none;
    }
    .gm-bundled-control{
        .gmnoprint{
            > div{
                background: rgba(#fff, 0.5) !important;
            }
        }
    }
    .gmnoprint{
        > img{
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    a{
        padding: 0;
        color: transparent !important;
        &:after{
            display: none;
        }
        img{
            max-width: 30px;
            height: auto !important;
            left: 10px !important;
        }
    }
    + .small-text{
        margin: 10px 0 2em;
        &:before{
            content: '— ';
        }
    }
}

.map-wrapper{
    .no-js &{
        display: none;
    }
}

@media (max-width: 860px){
    .map{
        padding: 0 0 50%;
        margin: 0;
    }
}

// @media (max-width: 473px){
//     .map-wrapper{
//         display: none;
//     }
// }
