.work-list{
    display: flex;
    flex-wrap: wrap;
    margin: 15vh 0 0;
    + .work-list{
        margin: 4vh 0 0;
    }
    > li{
        width: 50%;
        &:before{
            content: none;
        }
    }
    a{
        display: inline-block;
        padding: 0 50px 8vh 0;
        box-shadow: none;
        background: rgba($background, 0.8);
        &:hover, &:focus{
            color: $txt;
            h2{
                &:after{
                    transform: rotate(90deg);
                }
            }
            // img{
            //     filter: sepia(0.5);
            //     opacity: 0.3;
            //     transform: translate3d(0, 0, 0);
            //     transition: opacity 1s ease-in-out, filter 0.7s ease-in-out, 0.3s transform 0.3s ease-in-out;
            // }
        }
        &:active{
            filter: none;
            // img{
            //     filter: sepia(0);
            //     opacity: 1;
            //     transition: $transition;
            // }
        }
        > span, > time, > p{
            display: block;
            font-size: 1.4rem;
            color: rgba($black, 0.7);
        }
        > span, > p{
            color: rgba($black, 0.4);
            &:last-child{
                margin: 10px 0 0;
                font-size: 1.1rem;
                color: rgba($black, 0.7);
            }
        }
        > p{
            padding: 0;
            span{
                font-size: 1.1rem;
            }
        }
    }
    h2{
        display: block;
        position: relative;
        margin: 0 0 10px;
        font-family: $unica;
        font-size: 2rem;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        &:after{
            content: '+';
            position: absolute;
            left: -4px;
            bottom: -10px;
            font-size: 1.6rem;
            opacity: 0.7;
            transition: $transition;
        }
    }
    // img{
    //     width: calc(40% - #{$gutter});
    //     position: fixed;
    //     bottom: $gutter;
    //     right: $gutter;
    //     filter: sepia(1);
    //     opacity: 0;
    //     pointer-events: none;
    //     transition: $transition;
    // }
}


@media (max-width: $desktop){
    .work-list{
        > li{
            width: 100%;
        }
        a{
            padding-right: 0;
        }
    }
}
