.skills-wrapper{
    width: 250px;
    height: 250px;
    position: relative;
    margin: 4em auto 8em;
}

.skills{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: visible !important;
    path{
        stroke: $background;
        stroke-width: 10;
        fill: $primary;
        cursor: crosshair;
        transition: 0.35s ease-in-out;
        // transform-origin: 50% 50%;
        &:hover, &.on{
            fill: $secondary;
            + g{
                .title{
                    background: $black;
                    color: $white;
                }
                .text{
                    transform: translate3d(0, 0, 0);
                    opacity: 1;
                }
            }
        }
    }
    line{
        stroke: $txt;
        stroke-width: 2;
        pointer-events: none;
        + circle{
            fill: $txt;
            .js &{
                transition: 0.35s ease-in-out;
                opacity: 0;
                &.on{
                    opacity: 1;
                }
            }
            .ie &{
                opacity: 1;
            }
        }
        .js &{
            transition: 0.35s ease-in-out;
            opacity: 0;
            &.on{
                opacity: 1;
            }
        }
        .ie &{
            opacity: 1;
        }
    }
    circle{
        pointer-events: none;
        transform-origin: 50% 50%;
        transition: 0.35s ease-in-out;
    }
    .paths{
        .js &{
            transform: scale(0);
            transition: 0.4s ease-in-out;
            transform-origin: 48% 48%;
            &.on{
                transform: scale(1);
            }
        }
        .ie &{
            transform: scale(1);
        }
    }
    .puce{
        pointer-events: auto;
        fill: #ddd;
        .js &{
            cursor: pointer;
            transform: scale(0);
            &.on{
                transform: scale(1.2);
                &.final{
                    transform: scale(1);
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.title{
    font-size: 35px;
    .js &{
        opacity: 0;
        &.on{
            opacity: 1;
        }
    }
    .ie &{
        opacity: 1;
    }
}
.text{
    font-size: 28px;
    opacity: 0;
    transform-origin: 0 0;
    transition: 0.35s ease-in-out;
}

.text-right{
    text-anchor: end;
}


@media (max-width: 720px){
    .skills-wrapper{
        width: 43%;
        height: 0;
        padding: 0 0 43%;
    }
}
