.logo-404{
    display: block;
    max-width: 180px;
    margin: 2em 0;
    .body{
        fill: $txt;
    }
    .eye-full{
        fill: #fff;
        transition: $transition;
        transform-origin: 50% 50%;
        //animation: closeYourEyes 1.5s ease-in-out infinite 1.5s;
        &.closed{
            transform: scaleY(0);
            transition: 0.5s ease-in-out;
        }
    }
    .eye-center{
        fill: $txt;
        transform: scale(0.4);
        transition: $transition;
        transform-origin: 50% 50%;
        &.closed{
            opacity: 0;
            transition: 0.5s ease-in-out;
        }
    }
    .tear{
        fill: #fff;
        opacity: 0;
        transform: translate3d(0, -15px, 0);
        transition: opacity $transition;
        &.on{
            opacity: 1;
            transform: translate3d(0, 12px, 0);
            transition: opacity 0.15s ease-in, transform 2s ease-out;
        }
    }
}

@keyframes closeYourEyes{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0);
    }
    100%{
        transform: scaleY(1);
    }
}
