// Variables //


// Colors
$txt: rgba(#000, 0.9);
$primary: #00c7bf;
$secondary: #ec4c1c;
$background: #f3f0ec;
$border: rgba(#000, 0.4);

// Transitions
$transition: 0.25s ease-in-out;

// Fonts
$inconsolata: 'Inconsolata', monospace;
$abril: 'Abril', sans-serif;
$unica: 'Unica', sans-serif;

// Mediaqueries
$retina: 'only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi)';
